<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ipay_demo_server_3.4/src/com/iapppay/demo/CheckLogin.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.iapppay.demo.CheckLogin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ipay_demo_server_3.4"/>
</launchConfiguration>
