<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haobangnet.qmyx17168"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <!-- 必须的权限声明start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 必须的权限声明end -->
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 必须的activity声明start -->
        <!-- hb sdk begin -->
        <activity
            android:name="com.haobangnet.gamesdk.view.activity.QMYXActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/qmyx_17168_style_dialog"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
    <!-- hb sdk end -->
      <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->
        
        <!-- wechat sdk begin -->
        <activity
            android:name="com.heepay.plugin.activity.WeChatNotityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <!-- wechat sdk end -->
        
        <!-- hb sdk game_id begin -->
        <meta-data
            android:name="GAME_ID"
            android:value="100023">
        </meta-data>
        <!-- hb sdk game_id end -->
        <!-- 必须的activity声明end -->
        
    </application>

</manifest>
